<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <title>MusyHive</title>
  <link rel="icon" type="image/x-icon" href="/images/b.png">

</head>
<body>
  <div class="left">
    <div class="cover">
      <img class="b" src="/images/b.png" alt="">
      <h1>Musy <span style="color: rgb(135, 17, 214); font-weight: 900;">Hive</span></h1>
    </div>
    <div class="register-form">
    <h2>Create a new account</h2>
    <p class="p1">To use musyhive,Please enter your details</p>
    <form action="/register" method="post">
      <input type="email" name="email" placeholder="email" />
      <br>
      <input type="text" name="username" placeholder="username" />
      <br>
      <input type="text" name="fullname" placeholder="fullname" />
      <br>
      <input type="password" name="password" placeholder="Password" />
      <br>
      <button id="but" type="submit">Register</button>
    </form>
    </div>
    <div class="reg">

    <br>
    <a style="color: white; font-size: 0.8rem;" href="/login">Login</a>
    </div>
  </div>

  <div class="right">
    <img  src="/images/darkgrid.png" alt="bg">
  </div>
</body>
</html>
